.footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 30px 20px;
  /* border-top: 2px solid black; */
}

.footer-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-desc {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-team {
  list-style: none;
  padding: 0;
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  font-weight: 500;
}

.footer-team li {
  background-color: #f1f1f1;
  color: black;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.footer-team li:hover {
  background-color: #dcdcdc;
}

.social-icons {
  margin: 15px 0;
}

.social-icons a {
  color: black;
  margin: 0 10px;
  font-size: 22px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: orangered;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  color: black;
}
